<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to Harry Potter Encyclopedia</h1>
    <div class="presentation">
        <p>This is just a website to train myself with fetching data from JSON or API files</p>
        <p>You can see all spells fetched from a JSON Data in my files </p>
        <p>A list of all characters fetched from <a href="https://hp-api.onrender.com/api/characters">this API page</a></p>
        <p>Source of all data is : <a href="https://hp-api.onrender.com/">https://hp-api.onrender.com/</a></p>
    </div>
    <div class="links">
        <p><a href="/spells">Spells</a></p>
        <p><a href="/characters">All characters</a></p>
    </div>
 
</body>
</html>