<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All spells list</title>
    <link rel="stylesheet" href="/css/stylespells.css">
</head>
<body>
    <div class="spell-list">
    <% for (spell of spells){%>
        
            <div class="spell-item">
                <h3><%= spell.name %></h3>
                <p><%= spell.description  %></p>
            </div>



     <% } %>
    </div>   
</body>
</html>